<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templeta eosn sckdnc</title>
</head>
<body>

    <center>
        <form method="get" action="/analyse">
<h1>Welcome to the text analyser</h1><br>
<h3>Enter your text below</h3>
<textarea name="text" style="width: 412px; height: 201px;">
</textarea><br><br>
<input type="checkbox" name="removepunc">remove punctuations<br>
<input type="checkbox" name="capital">UPPER CASE<br>
<input type="checkbox" name="line">newline Remover<br>
<input type="checkbox" name="charcount">charcount<br>
<button>Analyse</button>
        </form>
    </center>
    <!-- This is awesome ,,,
    it works !!!
    {{name}} is from {{place}} -->


</body>
</html>